<h1>
    <span *ngIf="geometry.id != -1">Geometry Details</span>
    <span *ngIf="geometry.id == -1">Create New Geometry</span>
</h1>
<div class="dashboard-row">
    <div class="dashboard-item" [ngClass]="{'dashboard-item-centered': geometry.id == -1}">
        <h2>Properties</h2>
        <form>
            <div *ngIf="geometry.id == -1">
                <input type="file" style="display: none" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <span> {{geometry.file | basename}}</span>
                </div>
            </div>
            <h3 *ngIf="geometry.id != -1">File: {{geometry.file | basename}}</h3>
            <p></p>
            <h3 *ngIf="geometry.id != -1">Contributor: {{contributor.name}}</h3>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>System</mat-label>
                    <mat-select [formControl]="systemControl">
                        <mat-option *ngFor="let system of systems" [value]="system.name">
                            {{system.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Classification</mat-label>
                    <input type="text"
                        matInput
                        [formControl]="classificationControl">
                </mat-form-field>
            </p>
        </form>
        <mat-divider></mat-divider>
        <p style="display: flex; justify-content: right; margin-top: 1em;">
            <button
                mat-raised-button color="primary" 
                (click)="saveProperties()" 
                [disabled]="(!geometryForm.valid && this.geometry.file) || !contributorService.contributor">Save
            </button>
        </p>
    </div>
    <div class="dashboard-item" *ngIf="geometry.id != -1">
        <a mat-button [routerLink]="['meshes/']" class="button-header"><h2 class="button-header-h">Meshes</h2></a>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['meshes/' + mesh.id]" *ngFor="let mesh of meshes">
                {{mesh.file}}
            </a>
        </mat-nav-list>
    </div>
</div>

<div class="dashboard-row" *ngIf="geometry.id != -1">
    <div class="dashboard-item">
        <h2>Tool Associations</h2>
        <div *ngFor="let toolTree of toolTrees">
            <mat-checkbox
                [checked]="allToolSelected(toolTree)"
                [indeterminate]="someToolSelected(toolTree)"
                (change)="selectAllTool(toolTree, $event.checked)">
                {{toolTree.name}}
            </mat-checkbox>
            <ul>
                <li *ngFor="let toolVersion of toolTree.toolVersions">
                    <mat-checkbox
                        [checked]="allVersionSelected(toolVersion)"
                        [indeterminate]="someVersionSelected(toolVersion)"
                        (change)="selectAllVersion(toolVersion, $event.checked)">
                        {{toolTree.name}} ({{toolVersion.version}})
                    </mat-checkbox>
                    <ul>
                        <li *ngFor="let configuration of toolVersion.configurations">
                            <mat-checkbox [(ngModel)]="configuration.associated">
                                {{configuration.configuredTool.name}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <mat-divider></mat-divider>
        <p style="display: flex; justify-content: right; margin-top: 1em;">
            <button
                mat-raised-button color="primary" 
                (click)="saveAssociations()" 
                [disabled]="!contributorService.contributor">Save
            </button>
        </p>
    </div>
    <hyperdb-comments 
        class="dashboard-item"
        [comments]="comments"
        [object]="geometry"
        [objectType]="'geometry'"
        (commentsChanged)="getComments()">
    </hyperdb-comments>
</div>
