<h1>
    <span *ngIf="geometry.id != -1">Geometry Details</span>
    <span *ngIf="geometry.id == -1">Create New Geometry</span>
</h1>
<div class="dashboard-row">
    <div class="dashboard-item" [ngClass]="{'dashboard-item-centered': geometry.id == -1}">
        <h2>Properties</h2>
        <form>
            <input type="file" style="display: none" (change)="onFileSelected($event)" #fileUpload>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <span> {{geometry.file | basename}}</span>
            </div>
            <p></p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Contributor</mat-label>
                    <mat-select [formControl]="contributorControl">
                        <mat-option *ngFor="let contributor of contributors" [value]="contributor.name">
                            {{contributor.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>System</mat-label>
                    <mat-select [formControl]="systemControl">
                        <mat-option *ngFor="let system of systems" [value]="system.name">
                            {{system.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Classification</mat-label>
                    <input type="text"
                        matInput
                        [formControl]="classificationControl">
                </mat-form-field>
            </p>
        </form>
        <mat-divider></mat-divider>
        <p style="display: flex; justify-content: right; margin-top: 1em;">
            <button
                mat-raised-button color="primary" 
                (click)="save()" 
                [disabled]="!geometryForm.valid && this.geometry.file">Save
            </button>
        </p>
        
    </div>
    <div class="dashboard-item" *ngIf="geometry.id != -1">
        <a mat-button [routerLink]="['/meshes/']" class="button-header"><h2 class="button-header-h">Meshes</h2></a>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['/meshes/' + mesh.id]" *ngFor="let mesh of meshes">
                {{mesh.file}}
            </a>
        </mat-nav-list>
    </div>
</div>

<hyperdb-comments 
    *ngIf="geometry.id != -1"
    [comments]="comments"
    [object]="geometry"
    [objectType]="'geometry'"
    (postedComment)="getComments()">
</hyperdb-comments>