<h1>Dashboard</h1>
<div class="dashboard-row">
    <div class="dashboard-item">
        <a mat-button [routerLink]="['/systems/']" class="button-header"><h2 class="button-header-h">Systems</h2></a>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['/systems/' + system.id]" *ngFor="let system of systems">
                {{system.name}}<classification class="inline-classification"></classification>
            </a>
        </mat-nav-list>
    </div>
    <div class="dashboard-item">
        <a mat-button [routerLink]="['/systems/']" class="button-header"><h2 class="button-header-h">Geometries</h2></a>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['/systems/' + system.id]" *ngFor="let system of systems">
                {{system.name}}<classification class="inline-classification"></classification>
            </a>
        </mat-nav-list>
    </div>
</div>
<div class="dashboard-row">
    <div class="dashboard-item">
        <a mat-button [routerLink]="['/systems/']" class="button-header"><h2 class="button-header-h">Contributors</h2></a>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['/systems/' + system.id]" *ngFor="let system of systems">
                {{system.name}}<classification class="inline-classification"></classification>
            </a>
        </mat-nav-list>
    </div>
    <div class="dashboard-item">
        <a mat-button [routerLink]="['/systems/']" class="button-header"><h2 class="button-header-h">Tools</h2></a>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['/systems/' + system.id]" *ngFor="let system of systems">
                {{system.name}}<classification class="inline-classification"></classification>
            </a>
        </mat-nav-list>
    </div>
</div>
