<h1>Geometries</h1>

<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/geometries/new']">Add <fa-icon [icon]="faPlus"></fa-icon></a>
</div>
<table mat-table [dataSource]="geometrySummaries" class="mat-elevation-z8">

    <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> File </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['/geometries/' + element.geometry.id]">{{element.geometry.file}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="system">
        <th mat-header-cell *matHeaderCellDef> System </th>
        <td mat-cell *matCellDef="let geometry"> {{geometry.system.name}} </td>
    </ng-container>

    <ng-container matColumnDef="classification">
        <th mat-header-cell *matHeaderCellDef> Classification </th>
        <td mat-cell *matCellDef="let geometry">
            <classification [classification]="geometry.classification"></classification>
        </td>
    </ng-container>

    <ng-container matColumnDef="meshes">
        <th mat-header-cell *matHeaderCellDef> Meshes </th>
        <td mat-cell *matCellDef="let element"> {{element.meshes}} </td>
    </ng-container>

    <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Comments </th>
        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="warn" (click)="onDeleteGeometry(element.geometry)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  