<h1>
    <span>{{tool.name}} ({{tool.version}}) - {{configuredTool.name}} Details</span>
</h1>
<div class="dashboard-row">
    <div class="dashboard-item">
        <h2 class="button-header-h">Settings</h2>
        <hyperdb-cbaero-setting *ngIf="cbaeroId" [id]="cbaeroId"></hyperdb-cbaero-setting>
        <hyperdb-cart3d-setting *ngIf="cart3dId" [id]="cart3dId"></hyperdb-cart3d-setting>
    </div>
    <div class="dashboard-item">
        <h2 class="button-header-h">Meshes with Aero Results</h2>
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['/meshes/' + mesh.id + '/tool-results/' + configuredTool.id]" *ngFor="let mesh of meshes">
                {{mesh.file | basename}}
            </a>
        </mat-nav-list>
    </div>
</div>
<div class="dashboard-row">
    <hyperdb-comments 
        class="dashboard-item dashboard-item-centered"
        [comments]="comments"
        [object]="configuredTool"
        [objectType]="'configured-tool'"
        (commentsChanged)="getComments()">
    </hyperdb-comments>
</div>