<div>
    <h2>Comments</h2>
    <form *ngIf="contributorService.contributor">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput [formControl]="commentTitleControl">
                <button 
                    *ngIf="commentTitleControl.value" 
                    matSuffix mat-icon-button aria-label="Clear" 
                    (click)="commentTitleControl.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Body</mat-label>
                <textarea matInput [formControl]="commentBodyControl"></textarea>
              </mat-form-field>
        </p>
        <p style="display: flex; justify-content: right;">
            <button 
                mat-raised-button color="primary" 
                clickable
                (click)="save()"
                [disabled]="!commentForm.valid">Comment
            </button>
        </p>
    </form>
    <div *ngFor="let comment of comments;">
        <mat-divider></mat-divider>
        <h3><strong>{{comment.title}}</strong> - {{getCommentContributorName(comment)}}</h3>
        <p>{{comment.body}}</p>
    </div>
</div>