/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-header{
    width: 100%;
    justify-content: center;
}

.button-header-h {
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.dashboard-row{
    width: 100%;
}

.dashboard-item{
    display: inline-block; 
    margin: 1em;
    width: calc(50% - 4em); 
    vertical-align: top;
    box-shadow: 0 0 3px #ccc;
    border-radius: 0.25em;
    padding: 1em;
}

.dashboard-item-centered{
    left: calc(25%);
    position: absolute;
}

.dashboard-item-full{
    width: calc(100% - 2em); 
}

mat-form-field{
    width: 100%;
}

span > classification {
    float: right;
}