<h1>
    <span>Create New {{tool.name}} Configuration</span>
</h1>
<div class="dashboard-row">
    <div class="dashboard-item dashboard-item-centered">
        <form>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Configuration Name" [(ngModel)]="configuredTool.name" name="name">
                    <button *ngIf="configuredTool.name" matSuffix mat-icon-button aria-label="Clear" (click)="configuredTool.name=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </p>
            <p>
                <hyperdb-new-cbaero-setting *ngIf="cbaero"></hyperdb-new-cbaero-setting>
                <hyperdb-new-cart3d-setting *ngIf="cart3d"></hyperdb-new-cart3d-setting>
            </p>
        </form>
        <mat-divider></mat-divider>
        <p style="display: flex; justify-content: right; margin-top: 1em;">
            <button
                mat-raised-button color="primary" 
                (click)="onSave()" 
                [disabled]="!tool.version || invalidToolSetting()">Save
            </button>
        </p>
    </div>
</div>